<h2><%=h l(:label_mailfolders_new) %></h2>

<% labelled_tabular_form_for :mailfolder, @mailfolder, :url => {:project_id => @project} do |f| %>
  <%= render :partial => 'form', :locals => {:form => f} %>
  <%= f.submit l(:button_create) %>
<% end %>

